{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Create Your Character
{% endblock %}
{% block content %}
<br>
{% if player.ai_condition == 1 %}
    <hr>
        {% if player.prompt_condition == 0 %}
            You can ask ChatGPT for help using the Chatbox below.
        {% elif player.prompt_condition == 1 %}
            Consult ChatGPT for help by typing <b>exactly one</b> prompt (or message) in the Chatbox below.
        {% elif player.prompt_condition == 2 %}
            Consult ChatGPT for help by typing <b>multiple</b> prompts (or messages) in the Chatbox below.
        {% endif %}
    <hr>
    <!-- div displaying chat messages -->
    <div class="textBox" style="background: white;border: 1px solid lightgrey;border-radius: 0.5rem;padding: 1rem;height: 35vh;position:relative;overflow:auto;">
        <div id="chat_messages">
        </div>
    </div>
    <p></p>
    <!-- text input -->
    <div class="inputBox" style="display: flex;align-items: center;margin-top: 1rem;">
        <div class="typeInputBox" style="">
            <input type="text" id="chat_input" style="text-align:right;" autofocus>
            <button id="chat_button" type="button" onclick="sendMsg()">Send</button>
        </div>
    </div>
    <p></p>
    <!-- hidden input to save chat log -->
    <input type='hidden' name='chatLog' value='' id='id_chatLog'/>
<!--    </div>-->
{% endif %}
<br>
    <hr>
        Please create your character below.
    <hr>
    {% formfield player.main_name label="Name" %}
    <hr>
    {% for field in form %}
        {% if field.name in ['accessory', 'facial_hair', 'eye_sight', 'headgear'] %}
            {% formfield field.name %}
        {% endif %}
    {% endfor %}
    <p></p>
    <div style="align: center;">
    <hr>
    {% formfield player.save_image label="I want to download and keep the avatar I create." %}
    <p></p>
    <img style="display: none; width:275px; height:275px; -ms-transform: translate(0%, 30%); transform: translate(0%, 30%);" id="avatar" src="{% static "dvstudy/start.jpg" %}"/>
    <input type="hidden" name="url" value="">
    <input type="hidden" id="randomize_count" name="randomize_count" value="0">
    <button type="button_next" class="btn btn-primary" id="button_next">
        Next
    </button>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        $('#id_accessory').attr('autocomplete', 'off');
        $('#id_facial_hair').attr('autocomplete', 'off');
        $('#id_eye_sight').attr('autocomplete', 'off');
        $('#id_headgear').attr('autocomplete', 'off');
    </script>

<script>
    $('#button_next').on('click', function (event) {
        event.preventDefault ? event.preventDefault() : event.returnValue = false;

        // Get the player's prompt condition and the number of messages sent
        var promptCondition = {{ player.prompt_condition }};
        var messageCount = chatLogData.length;

        // Check the prompt condition and the number of messages sent
        if ((promptCondition === 1 && messageCount < 1) || (promptCondition === 2 && messageCount < 3)) {
            alert("Please send prompts (or messages) in the chat before proceeding.");
            return; // Stop further execution if conditions are not met
        }

        var accessory = $('input[name=accessory]').val();
        var facial_hair = $('input[name=facial_hair]').val();
        var eye_sight = $('input[name=eye_sight]').val();
        var headgear = $('input[name=headgear]').val();
        accessory = accessory || "0";
        facial_hair = facial_hair || "0";
        eye_sight = eye_sight || "0";
        headgear = headgear || "0";
        var seed = {{ player.seed }};
        var total = parseInt(accessory) + parseInt(facial_hair) + parseInt(eye_sight) + parseInt(headgear);

        if (total == 100 && $('#id_main_name').val() != '') {
            if ($('#id_save_image').is(':checked')) {
                // Construct the SVG URL
                const svgUrl = `https://dicebear-7227ab440045.herokuapp.com/9.x/pixel-art/svg?seed=${seed}&accessoriesProbability=${accessory}&beardProbability=${facial_hair}&glassesProbability=${eye_sight}&hatProbability=${headgear}`;

                // Fetch the SVG data, download it, and submit the form after fetch completes
                fetch(svgUrl)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.text();
                    })
                    .then(svgText => {
                        const svgBlob = new Blob([svgText], { type: 'image/svg+xml' });
                        const blobUrl = URL.createObjectURL(svgBlob);

                        const downloadLink = document.createElement('a');
                        downloadLink.href = blobUrl;
                        downloadLink.download = $('#id_main_name').val() + '.svg'; // Set the download filename
                        document.body.appendChild(downloadLink);
                        downloadLink.click();
                        document.body.removeChild(downloadLink);

                        // Set the value of the input field named "url" to svgUrl
                        $('input[name=url]').val(svgUrl);

                        // Submit the form after download
                        document.forms[0].submit();
                    })
                    .catch(error => {
                        console.error('Error downloading the SVG:', error);
                    });
            } else {
                // If the checkbox is not checked, submit the form immediately
                document.forms[0].submit();
            }
        } else if (total != 100 && $('#id_main_name').val() != '') {
            alert("Please ensure the total score for the features adds up to 100.");
        } else {
            alert("Please give your character a name to continue.");
        }
    });
</script>



    <script>
        // list of chat messages as JSON dictionaries
        var chatLogData = [];

        // timestamp of page loading to determine when messages were sent
        var timeBase = Date.now();

        // adapting chat from oTree snippets page
        var chat_input = document.getElementById('chat_input');

        chat_input.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                sendMsg();
            }
        });



        // function to log chat
        function logChat(sender, chatText) {
            let timestamp = (Date.now() - timeBase) / 1000;

            // create dictionary for current message info
            var currentMsg = {
                sender: sender,
                text: chatText,
                timestamp: timestamp
            };

            // append chatLogData
            chatLogData.push(currentMsg);

            // write chatLog to input field
            document.getElementById('id_chatLog').value = JSON.stringify(chatLogData);

        }

        // function to append text in webpage
        function sendMsg() {
            var text = chat_input.value.trim();
            if (text) {
                liveSend({'text': text});
                let msgSpan = document.createElement('span');
                msgSpan.textContent = text;
                let row = `<div class="msg selfText" style="background: lightgray;display: inline-block;position: relative;left: 100%;transform: translateX(-100%);text-align: right;margin-bottom: 5px;padding: 10px 10px 10px 12px;border-radius: 20px;max-width: 80%;height: 100%;">${msgSpan.innerHTML}</div><br>`;
                chat_messages.insertAdjacentHTML('beforeend', row);

                // scroll messages to bottom
                chat_messages.scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'start' })

                // append chat log
                logChat('Participant', text)

            }
            chat_input.value = '';

        }

        // specify messages element
        var chat_messages = document.getElementById('chat_messages');

        // function for live receiving from server
        function liveRecv(data) {
            let msgSpan = document.createElement('span');
            msgSpan.textContent = data;
            let row = `<div class="msg botText" style="background: #0D6EFD;color: white;left: 0;display: inline-block;margin-bottom: 5px;padding: 10px 10px 10px 12px;border-radius: 20px;max-width: 80%;height: 100%;">${msgSpan.innerHTML}</div><br>`;
            chat_messages.insertAdjacentHTML('beforeend', row);

            // scroll messages to bottom
            chat_messages.scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'start' })

            // append chat log
            logChat('Bot', data)
        };

        document.addEventListener("DOMContentLoaded", function (event) {
            liveSend({});
        });

    </script>



{% endblock %}