{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    One more thing!
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
        <ul>
            <li>When designing the playable character, you will have access to ChatGPT.</li>
            <li>Chatgpt can help you to design your character.</li>
            <li>Please see a screenshot of Chatgpt's chat window below.</li>
        </ul>
</div>


<b style="color:#007afe;">SCREENSHOT</b>
<div align="center" style="border-width:3px; border-style:solid; border-color:#007afe; padding: 1em;">
<!--<p style="text-align: center;">-->
<!--<img style="width:925px;" id="avatar" src="{% static "dvstudy/chatgpt.jpg" %}"/>-->
<!--</p>-->
<p style="text-align: center;">
    <img style="width: 100%; max-width: 925px; height: auto;" id="avatar" src="{% static "dvstudy/chatgpt.jpg" %}"/>
</p>

</div>
<hr>
    <p style="text-align: center;">
        <b>Please click next to continue.</b>
    </p>
<div style="text-align: center;">
        {% next_button %}
</div>
{% endblock %}