{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (3 of 3)
{% endblock %}

{% block content %}
<p style="text-align: center;">
<img style="width:275px; height:275px;" id="avatar" src="{% static "dvstudy/examples_art.jpg" %}"/>
</p>

<div class="card card-body bg-light instructions">
        <ul>
            <li>To generate a character, you will have to distribute 100 points to four different attributes:</li>
            <ul>
                <li><u>Accessories</u>: Increases the chance your character will wear earrings.</li>
                <li><u>Facial Hair</u>: Increases the chance your character will have a beard.</li>
                <li><u>Glasses</u>: Increases the chance your character will have glasses.</li>
                <li><u>Head Gear</u>: Increases the chance your character will wear a hat.</li>
            </ul>
            <li>Distributing points to an attribute increases the importance of that particular attribute for your character.</li>
            {% if player.surrogation == 1 %}
                <li>We are interested in the <b>{{ player.measure_skill }}</b> Score of the playable character in "City Life".</li>
                <li>Therefore, we are measuring how many points you allocate to the <b>{{ player.measure_skill }}</b> Score.</li>
            {% endif %}
        </ul>
</div>
    <p>
        <b>Please evaluate the following statement.</b>
    </p>
    <p>
        {% formfield player.Instr3 label="Distributing the 100 points to the different attributes determines their importance for my character." %}
    </p>
<br>
    {% next_button %}

{% endblock %}