{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (1 of 3)
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
        <ul>
            <li>For completing this task, you will earn a base fee of 1.00 CHF.</li>
            <li>On top of this amount, you can win one of two Amazon Vouchers worth 50 CHF.</li>
            <li>Winning this voucher depends on how well you perform on the task compared to others.</li>
            <li>You will receive your compensation and, if applicable, the voucher as soon as possible after you complete the study.</li>
        </ul>
</div>
    <p>
        <b>Please evaluate the following statement.</b>
    </p>
    <p>
        {% formfield player.Instr1 label="I can win an Amazon Voucher worth 50 CHF depending on how well I perform on the task compared to others." %}
    </p>
<br>
    {% next_button %}

{% endblock %}