{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (2 of 3)
{% endblock %}

{% block content %}
<p style="text-align: center;">
<img style="width:275px; height:275px;" id="avatar" src="{% static "dvstudy/logo.webp" %}"/>
</p>

<div class="card card-body bg-light instructions">
        <ul>
            <li>Your task is to create a playable character for a mobile Pixel Art Game called "City Life".</li>
            <li>It is a puzzle and adventure game where players explore a vast city containing a variety of stories and people.</li>
            <li>The playable character you will design will be the main playable character of the mobile game.</li>
            <li>The primary goal is to make the character as appealing and relatable as possible to a large audience.</li>
        </ul>
</div>
    <p>
        <b>Please evaluate the following statement.</b>
    </p>
    <p>
        {% formfield player.Instr2 label="My task is to create a playable character that is as appealing and relatable as possible to a large audience." %}
    </p>
<br>
    {% next_button %}

{% endblock %}