{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    A few more questions (Page 1 of 2)
{% endblock %}

{% block content %}
    <style>
    .otree-timer {
        display: none;
    }
    </style>
    <div class="card card-body bg-light instructions" style="text-align:center">
        Please evaluate the statements and answer the questions below.
    </div>
     <table class="table">
    {% for field in form %}
        <tr>
            <td>
                {{ field.label }}
            </td>
            <td align="right">
                {{ field }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    {% next_button %}

{% endblock %}
{% block scripts %}
{% endblock %}