{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Create Your Character
{% endblock %}

{% block content %}
    Please create your character below. The total score must add up to 100.
    <hr>
    <div class="wrapper" style="overflow: hidden;">
    <div class="column" style="float:left; text-align: left; width: 40%; margin-left: 1%;">
        <p></p>
        {% formfield player.strength label="Strength" %}
        {% formfield player.agility label="Agility" %}
        {% formfield player.stamina label="Stamina" %}
        {% formfield player.intelligence label="Intelligence" %}
        {% formfield player.charisma label="Charisma" %}
        <p>
        <button type="button" class="btn btn-outline-primary" data-toggle="collapse" id="button_gen">Generate!</button>
        <p></p>
    </div>
    <div class="column" style="float:right; width: 30%; margin-right: 15%;  position: relative;">
        {% if player.avatar == "yes" %}

            <img style="width:300px; height:300px; -ms-transform: translate(0%, 30%); transform: translate(0%, 30%);" id="avatar" src="{% static "surrogation/start.jpg" %}"/>

        {% endif %}
    </div>
    </div>
    <p></p>
    <div style="align: center;">
    <hr>
    {% formfield player.save_image label="I want to download the avatar I created." %}
    <p></p>
    <input type="hidden" id="gen_check" name="gen_check" value="0">
    <button type="button_next" class="btn btn-primary" id="button_next" onclick="finishedFunction()">
        Next
    </button>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#id_agility').attr('autocomplete', 'off');
        $('#id_strength').attr('autocomplete', 'off');
        $('#id_stamina').attr('autocomplete', 'off');
        $('#id_intelligence').attr('autocomplete', 'off');
        $('#id_charisma').attr('autocomplete', 'off');
    </script>

    <script>
        $('#button_gen').on('click', function() {
            var strength = $('input[name=strength]').val();
            var agility = $('input[name=agility]').val();
            var stamina = $('input[name=stamina]').val();
            var intelligence = $('input[name=intelligence]').val();
            var charisma = $('input[name=charisma]').val();
            strength = strength || "0";
            agility = agility || "0";
            stamina = stamina || "0";
            intelligence = intelligence || "0";
            charisma = charisma || "0";
            var total = parseInt(strength) + parseInt(agility) + parseInt(stamina) + parseInt(intelligence) + parseInt(charisma);

            if (total == 100) {
                $('#avatar').replaceWith('<object width="300" height="300" style="-ms-transform: translate(0%, 30%); transform: translate(0%, 30%);" id="avatar"  data="https://api.dicebear.com/8.x/pixel-art/svg?' + 'seed=' + strength + '" type="image/svg+xml"></object>');
                document.getElementById('gen_check').value = 1;
            } else {
                window.alert("Please ensure the total allocated points adds up to 100.");
            }
        })

    </script>

    <script>
        $("#button_next").on("click", function(event) {
            event.preventDefault ? event.preventDefault() : event.returnValue = false;

            if ($("#gen_check").val() == 1) {
                document.forms[0].submit();
                $('#form').submit();
            }
            else {
                alert("Please click 'Generate!' to continue.");
            }
        });
    </script>
{% endblock %}