{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<div class="card card-body bg-light instructions">
        <ul>
            <li>Your taks is to generate a pixelart avatar picture by distributing 100 skill points to five different skill dimensions.</li>
            <li>You are free to distribute the 100 skill points any way you would like.</li>
            <li>There is no difference in the relative importance of between different skill dimensions.</li>
            <li>However, each of the skills have an equal effect on the type of avatar picture that is generated.</li>
            {% if player.surrogation == "yes" %}
                <li>We are measuring how many skill points participants allocate to the {{ player.measure_skill }} of their character.</li>
            {% endif %}
        </ul>
</div>
    <p></p>
    {% formfield player.accept_instructions label="I have read the information above and would like to start." %}
    <p></p>
    {% next_button %}

{% endblock %}