{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<p style="text-align: center;">
<img style="width:275px; height:275px;" id="avatar" src="{% static "surrogation/logo.webp" %}"/>
</p>

<div class="card card-body bg-light instructions">
        <ul>
            <li>Your taks is to create a character for a mobile Pixel Art Game called "City Life".</li>
            <li>This character will be the main playable character of the mobile game.</li>
            <li>The primary goal is the make the character as appealing as possible to a large audience.</li>
            <li>You will be able to distribute 100 points to different features of the character.</li>
            <li>Consumer research has shown that each of the features have an equal impact on the character's appeal.</li>
            {% if player.surrogation == "yes" %}
                <li>We are measuring how many points participants allocate to the {{ player.measure_skill }} Score of their character.</li>
            {% endif %}
        </ul>
</div>
    <p></p>
    {% formfield player.accept_instructions label="I have read the information above and would like to start." %}
    <p></p>
    {% next_button %}

{% endblock %}